USE [master]
GO
/****** Object:  Database [JungleChess]    Script Date: 1/7/2022 09:14:54 ******/
CREATE DATABASE [JungleChess]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JungleChess', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\JungleChess.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JungleChess_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\JungleChess_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JungleChess].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JungleChess]
GO
/****** Object:  User [alumno]    Script Date: 1/7/2022 09:14:54 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[gameId] [varchar](40) NOT NULL,
	[viewCount] [int] NULL,
	[date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gamemode]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gamemode](
	[gamemodeId] [int] NULL,
	[name] [varchar](30) NULL,
	[playersPerGame] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameXUser]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameXUser](
	[gameId] [int] NULL,
	[userId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GlobalStat]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalStat](
	[gamemodeId] [int] NULL,
	[name] [varchar](30) NULL,
	[value] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Move]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Move](
	[gameId] [int] NULL,
	[turn] [int] NULL,
	[move] [char](1) NULL,
	[piece] [varchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relationship]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relationship](
	[user1] [int] NULL,
	[user2] [int] NULL,
	[status] [char](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suspension]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suspension](
	[suspendedId] [int] NULL,
	[suspenderId] [int] NULL,
	[suspensionDate] [date] NULL,
	[unsuspendDate] [date] NULL,
	[reason] [varchar](400) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] NULL,
	[name] [varchar](30) NULL,
	[status] [varchar](15) NULL,
	[imageUrl] [varchar](500) NULL,
	[lastConnected] [datetime] NULL,
	[typeOfUser] [char](1) NULL,
	[role] [char](1) NULL,
	[description] [varchar](600) NULL,
	[creationDate] [date] NULL,
	[mail] [varchar](255) NULL,
	[streak] [int] NULL,
	[friendCount] [int] NULL,
	[service] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStat]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStat](
	[userId] [int] NULL,
	[gamemodeId] [int] NULL,
	[name] [varchar](30) NULL,
	[value] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[createGame]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[createGame]
AS
	INSERT INTO Game (viewCount, [date])
	VALUES (0, GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[createGameXUser]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[createGameXUser]
	@userId int,
	@gameId int
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO gameXUser (gameId, userId)
	VALUES (@gameId, @userId)
END
GO
/****** Object:  StoredProcedure [dbo].[createUser]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[createUser]
	@name varchar(30), @imageUrl varchar(500), @description varchar(600), @service varchar(30)
AS
	INSERT INTO [User] ([name], [status], imageUrl, [role], [description], [service], streak, friendCount, creationDate) 
	VALUES (@name, 'o', @imageUrl, 'u', @description, @service, 1, 0, CURRENT_TIMESTAMP)
GO
/****** Object:  StoredProcedure [dbo].[getGameByPlayerId]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getGameByPlayerId]
	@userId int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Game INNER JOIN GameXUser on GameXUser.gameId = Game.gameId WHERE GameXUser.userId = @userId
END
GO
/****** Object:  StoredProcedure [dbo].[getMoves]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getMoves]
	@gameId int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM [Move] INNER JOIN Game on [Move].gameID = Game.gameId WHERE Game.gameId = @gameId
END
GO
/****** Object:  StoredProcedure [dbo].[updateUserDescription]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateUserDescription]
	@description varchar(600),
	@id int
AS
	UPDATE [User] SET description = @description WHERE userId = @id
GO
/****** Object:  StoredProcedure [dbo].[updateUserFriendCount]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateUserFriendCount]
	@friendCount int,
	@id int
AS
	UPDATE [User] SET friendCount = @friendCount WHERE userId = @id
GO
/****** Object:  StoredProcedure [dbo].[updateUserImageUrl]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateUserImageUrl]
	@imageUrl varchar(500),
	@id int
AS
	UPDATE [User] SET imageUrl = @imageUrl WHERE userId = @id
GO
/****** Object:  StoredProcedure [dbo].[updateUserLastConnected]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateUserLastConnected]
	@id int
AS
	UPDATE [User] SET lastConnected = GETDATE() WHERE userId = @id
GO
/****** Object:  StoredProcedure [dbo].[updateUserName]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateUserName]
	@name varchar(30),
	@id int
AS
	UPDATE [User] SET name = @name WHERE userId = @id
GO
/****** Object:  StoredProcedure [dbo].[updateUserRole]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateUserRole]
	@role char(1),
	@id int
AS
	UPDATE [User] SET role = @role WHERE userId = @id
GO
/****** Object:  StoredProcedure [dbo].[updateUserStatus]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateUserStatus]
	@id int,
	@status varchar(15)
AS
	UPDATE [User]
	SET status = @status
	WHERE userId = @id
GO
/****** Object:  StoredProcedure [dbo].[updateUserStreak]    Script Date: 1/7/2022 09:14:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateUserStreak]
	@streak int,
	@id int
AS
	UPDATE [User] SET streak = @streak WHERE userId = @id
GO
USE [master]
GO
